<launch>

  <!-- run a modified moveit demo lauch file -->
  <!-- the node "joint_state_publisher" is disabled -->
  <include file="$(find iiwa_moveit_cam)/launch/demo.launch"/>

  <node pkg="iiwa_cam" type="moveit_rviz_exec_service" name="moveit_rviz_exec_service" output="screen"/>
  
  <node pkg="iiwa_cam" type="moveit_rviz_state_receiver_service" name="moveit_rviz_state_receiver_service" output="screen"/>

</launch>
